@model IEnumerable<OrdemServicoAspNetMVC.Models.OrdemServico>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoContrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdColaborador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDefeitoReclamado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDefeitoIdentificado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSolucaoAplicada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAbertura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFechamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoContrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdColaborador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDefeitoReclamado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDefeitoIdentificado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSolucaoAplicada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAbertura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFechamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
